In [9]:
%matplotlib inline

In [3]:
from GLOBALS import FULL_DATASET_PATH
from plot_heatmap import build_pivot
import pandas as pd

data = pd.read_csv(FULL_DATASET_PATH, index_col="id_site", encoding="windows-1252")

pivot_median = build_pivot(data=data,
                    value_field="otu_richness",
                    line_field="land_use",
                    col_field="bioregion",
                    top_n=10,
                    func='median')

pivot_count = build_pivot(data=data,
                    value_field="otu_richness",
                    line_field="land_use",
                    col_field="bioregion",
                    top_n=10,
                    func='count')

In [4]:
pivot_count

bioregion            Alpine  Atlantic  Continental  Mediterranean
land_use
annual crops            2.0     504.0        190.0           41.0
broadleaved forests    12.0     124.0        105.0           36.0
coniferous forests     27.0      64.0         90.0           42.0
meadows                31.0     160.0        233.0           37.0
natural sites          28.0       4.0          5.0           16.0
permanent crops         NaN      16.0          8.0           22.0
urban sites             NaN       8.0          1.0           11.0